PRISMIC_REPO_NAME=gatsby-hello

PRISMIC_API_KEY=MC5Ycy1rc3hFQUFDUUFLQXUt.ImpS77-977-977-977-977-977-977-9Te-_ve-_vTvvv71fCO-_vXBl77-977-9ZHTvv73vv73vv70677-9DxBl

PRISMIC_PREVIEW_PATH=/previews

PRISMIC_RELEASE_ID=Xny9FRAAAB4AdbNo
